<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>

<div class="container">
  <%= form_with url: publish_path, method: :put, local: true do |form| %>
    <%= form.submit value: 'Publish Result', class:"btn btn-info" %>
  <% end %>
<br/>
  <%= form_with url: revert_results_path, method: :put, local: true do |form| %>
    <%= form.submit value: 'Revert Result', class:"btn btn-info" %>
  <% end %>

<div class="athlete">
<h3 id="athletes_section">Athletes</h3>
<%= link_to 'New Athlete', new_athlete_path, class:"btn btn-info" %>
<br/>

<% if @sorted_athletes %>
  <ul class="list-group">
    <% @sorted_athletes.each do |athlete| %>
      <li class="list-group-item m-2">
        <h5><%= athlete.name %></h5>

        <%= form_with url: toggle_voting_path(athlete), method: :put, local: true do |form| %>
        <%= form.submit value: 'Open/Close Voting', id: 'voting', class: 'btn btn-info' %>
      <% end %>

      <p>Status:
        <strong><%= athlete.votingOpen %></strong>
      </p>

      <%= link_to 'Edit Athlete', edit_athlete_path(athlete), class: "btn btn-secondary" %>

      <%= form_with url: athlete_path(athlete), method: :delete, local: true do |form| %>
      <%= form.submit value: 'Delete', id: 'voting', class: "btn btn-secondary" %>
    <% end %>
  </li>
<% end %>

</ul>
<% end %>
</div>

<div class="results">
<h3 id="results">Results</h3>
<br/>

<h3>Result List</h3>
<% if @sorted_results %>
<% position = 1 %>
<ul class="list-group">
<% @sorted_results.each do |result| %>
  <% if result.valid_score == true %>
    <li class="list-group-item m-2">
      <h5> No. <%= position %> <%= result.athlete.name %> </h5>
      <div>Score: <strong><%= result.score %></strong></div>
      <div>Number of votes: <strong><%= result.number_of_votes %></strong></div>
    </li>
    <% position += 1 %>
    <% end %>
  <% end %>
  </ul>
<% end %>

<h3 id="insufficient_votes">Insufficient votes</h3>

<% if @sorted_results %>
<ul class="list-group">
  <% @sorted_results.each do |result| %>
    <% if result.valid_score == false %>
    <li class="list-group-item">
      <h5> <%= result.athlete.name %> </h5>
      <div>Score: <strong><%= result.score %></strong></div>
      <div>Number of votes: <strong><%= result.number_of_votes %></strong></div>
    </li>
      <% end %>
    <% end %>
    </ul>
  <% end %>
</div>

</div>
