<% if current_user %>
  <%= form_with url: destroy_user_session_path, method: :delete, local: true do |form| %>
    <%= form.submit value: 'Logout' %>
  <% end %>
<% end %>

<h1>Athletes</h1>

<% if @sorted_athletes %>
  <ul id="athlete">
    <% @sorted_athletes.each do |athlete| %>
      <li>
        <p><%= athlete.name%></p>

        <%= form_with url: toggle_voting_path(athlete), method: :put, local: true do |form| %>
          <%= form.submit value: 'Open/Close Voting', id: 'voting' %>
        <% end %>
        <p>Status: <%= athlete.votingOpen %></p>
        <%= link_to 'Edit', edit_athlete_path(athlete) %>
        <%= link_to 'Delete', athlete_path(athlete), method: :delete %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Create Athlete', new_athlete_path %>

<%= form_with url: publish_path, method: :put, local: true do |form| %>
  <%= form.submit value: 'Publish Result' %>
<% end %>

<h3>Results</h3>

<% if @sorted_results %>
  <% position = 1 %>
  <% @sorted_results.each do |result| %>
    <% if result.valid_score == true %>
      <p>
      No. <%= position %>
      <%= result.athlete.name %>
      Score: <%= result.score %>,
      Number of votes: <%= result.number_of_votes %>
      </p>
      <% position += 1 %>
    <% end %>
  <% end %>
<% end %>

<h3>Insufficient votes</h3>

<% if @sorted_results %>
  <% @sorted_results.each do |result| %>
    <% if result.valid_score == false %>
      <p>
      <%= result.athlete.name %>
      Score: <%= result.score %>,
       Number of votes: <%= result.number_of_votes %>
      </p>
    <% end %>
  <% end %>
<% end %>
