<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>

<%= form_with url: push_notification_path, method: :post, local: true do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <%= form.label :content %>
  <%= form.text_field :content %>
  <%= form.submit value: 'Send Notification' %>
<% end %>

<div class="athlete">
  <h3 id="athletes_section">Athletes</h3>
  <%= link_to 'New Athlete', new_athlete_path, class:"btn btn-info" %>
  <br/>

  <% if @sorted_athletes %>
    <% @sorted_athletes.each do |athlete| %>
      <h5><%= athlete.name%></h5>
      <%= form_with url: toggle_voting_path(athlete), method: :put, local: true do |form| %>
      <%= form.submit value: 'Open/Close Voting', id: 'voting' %>
    <% end %>

    <p>Status:
      <strong><%= athlete.votingOpen %></strong>
    </p>
    <%= link_to 'Edit Athlete', edit_athlete_path(athlete), class: "btn btn-success" %>
    <%= form_with url: athlete_path(athlete), method: :delete, local: true do |form| %>
    <button type="submit" class="btn btn-danger">Delete</button>
    <br/>
  <% end %>
<% end %>
<% end %>
</div>

<div class="results">
<h3 id="results">Results</h3>
<%= form_with url: publish_path, method: :put, local: true do |form| %>
<%= form.submit value: 'Publish Result' %>
<% end %>
<br/>
<%= form_with url: revert_results_path, method: :put, local: true do |form| %>
<%= form.submit value: 'Revert Result' %>
<% end %>
<br/>

<h3>Result List</h3>
<% if @sorted_results %>
<% position = 1 %>
<% @sorted_results.each do |result| %>
<% if result.valid_score == true %>
  <h5>
    No.
    <%= position %>
    <%= result.athlete.name %>
  </h5>
  <p>
    Score:
    <strong><%= result.score %>,</strong>
    Number of votes:
    <strong><%= result.number_of_votes %></strong>
    <% position += 1 %>
    </p>
  <% end %>
<% end %>
<% end %>

<h3 id="insufficient_votes">Insufficient votes</h3>

<% if @sorted_results %>
<% @sorted_results.each do |result| %>
  <% if result.valid_score == false %>
    <h5>
      <%= result.athlete.name %>
    </h5>
    <p>
      Score:
      <strong><%= result.score %>,</strong>
      Number of votes:
      <strong><%= result.number_of_votes %></strong>
      <p/>
    <% end %>
  <% end %>
<% end %>
</div>
