
<h1>Athletes</h1>

<% if @athletes %>
  <ul id="athlete">
    <% @athletes.each do |athlete| %>
      <li>
        <p id="<% athlete.id %>">
        <%= athlete.name%>
        </p>
        <button type="button" value="<% athlete.votingOpen %>" name="button"></button>
        <p> Status <%= athlete.votingOpen %></p>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Create Athlete', new_athlete_path %>

<h3>Results</h3>

<% if @sorted_results %>
  <% position = 1 %>
  <% @sorted_results.each do |result| %>
    <% if result.valid_score == true %>
      <p>
      No. <%= position %>
      <%= result.athlete.name %>
      Score: <%= result.score %>,
      Number of votes: <%= result.number_of_votes %>
      </p>
      <% position += 1 %>
    <% end %>
  <% end %>
<% end %>

<h3>Insufficient votes</h3>

<% if @sorted_results %>
  <% @sorted_results.each do |result| %>
    <% if result.valid_score == false %>
      <p>
      <%= result.athlete.name %>
      Score: <%= result.score %>,
       Number of votes: <%= result.number_of_votes %>
      </p>
    <% end %>
  <% end %>
<% end %>
