<!DOCTYPE html>
<html>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#athletes_section">Athletes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#results">Results</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#insufficient_votes">Insufficient Votes</a>
  </li>
</ul>
  <head>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% flash.each do |key, value| %>
      <div class="text-center">
        <%= value  %>
      </div>
    <% end %>
  <%= yield %>
  </body>
</html>
